.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
img {
  width: 800px;
  height: 1000px;
  float: right;
}
*/


.overlay {
  position: absolute;
  display: none;
  width: 20%;
  height: 20%;
  top: 200px;
  left: 1000px;
  right: 0;
  bottom: 0;
  background-color: rgba(233, 20, 20, 0.5);
  z-index: 2;
  cursor: pointer;
}


.group-list {
  background-color: #dfe6e9;
  padding: 3em;
}

.group-list .card {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #b2bec3;
  text-align: center;
  font-family: 'Poppins';
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 45%;
  float: right;
  text-align: left;
}

.group-list .card:hover {
  background-color: #a3b9ad;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
}

.card .text {
  text-align: left;
  margin-left: 2em;
  margin-bottom: 0.5em;
}