.logo {
  height:  100px ;
  width:  100px ;
  position: absolute ;
  top:  0 ;
  left:  0 ;
}

.pagetitle {
  position: absolute ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top:  7% ;
  left:  60% ;
  transform: translate(-50%, -50%) ;
  font-size:  30px ;
  color: rgb(255, 98, 0);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(76, 76, 76); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #4d8500;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  border: none;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  background-color: rgb(76, 76, 76);
}

.search-form {
  color: rgb(69, 69, 69);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.5s;
}

.search-bar {
  color: white;
  height: 40px;
  border: none;
  background-color:rgb(69, 69, 69);
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  border-radius: 0px;
}

.search-button {
  color: white;
  height: 40px;
  border: none;
  background-color:rgb(255, 98, 0);
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.openbtn {
  position: absolute;
  top: 0;
  border: none;
  left: 0px;
  font-size: 36px;
  margin-right: 50px;
  color: #818181;
  background-color: rgb(98, 98, 98);
}

.test {
  color: red;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}